#polaroidGallery
{
	display: flex;
	flex-wrap: wrap;
	width: 100vw;
	height: 100vh;
}
.polaroid
{	
	background-color: white;	
	padding: 0.5vw;
	padding-bottom: 1.5vw;
	background: #ece9e6;
	background: -webkit-linear-gradient(to right, #ece9e6, #fafafa);
	background: linear-gradient(to bottom, #ece9e6, #fafafa);
	position: absolute;
	box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
	transition: all 0.5s ease;
    margin-top: 100px;
}
.polaroid:hover
{
	cursor: pointer;
}

.image
{
	width: 10vw;
	background-size: cover;
}

body
{
  background-color: black;
  overflow: hidden;
}

h1
{
  color: white;
  position: absolute;
  top: 1vw;
  font-family: single-day, sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 50px 50px 0;
}